<ion-content [fullscreen]="true">

    <div class="flex text-white bg-[#494a4e] font-bold h-10 fixed top-0 w-full">
      <i class="fas fa-arrow-left mt-2 ml-3 text-[#ca9631] text-xl" routerLink="/home"></i>
      <div class="ml-[32%] font-bold mt-2 text-2xl">Blogs</div>
    </div>

    <div class="mt-9 text-white h-full overflow-y-scroll">
      <div [routerLink]="['/viewblog', blog._id]" *ngFor="let blog of blogs"
        class="flex mt-3 bg-white text-black w-[95%] h-[16%] ml-auto mr-auto rounded-md shadow-md">
        <div><img src="{{blog.image}}" alt="" class="h-full w-48 rounded-tl-md rounded-bl-md"></div>
        <div class="block py-4 ml-2 mt-[-4%]">
          <div>
            <p class="text-right text-[70%] text-gray-400 mr-3">{{formatDate(blog.date)}}</p>
            <h5 class="font-bold">{{ truncateText(blog.title, 22) }}</h5>
          </div>
          <p class="mr-2">{{ truncateText(blog.content, 54) }}</p>
        </div>
      </div>
    </div>

<div
  class="fixed inset-x-0 bottom-0 text-[#ca9631] flex justify-around items-center bg-primary border-t border-[#ca9631] pt-4 z-50">
  <div class="tab-button text-xl" routerLink="/home">
    <i class="fas fa-home text-xl"></i>
    <p class="text-xs">Home</p>
  </div>

  <div class="tab-button hover:text-white" routerLink="/horoscopes">
    <div class="flex">
      <i class="fas fa-star mt-1 transform translate-x-2"></i><i
        class="fas fa-moon -mt-2 transform rotate-180 text-2xl"></i>
    </div>
    <p class="text-xs">Horoscopes</p>
  </div>

  <div class="tab-button  text-white hover:text-white" routerLink="/blogs">
    <i class="fas fa-newspaper text-xl"></i>
    <p class="text-xs">Blogs</p>
  </div>

  <div class="tab-button hover:text-white" routerLink="/archives">
    <i class="fas fa-folder text-2xl"></i>
    <p class="text-xs">Archives</p>
  </div>
</div>



</ion-content>
