ion-content {
  --background: url("../../assets/logos/stars.gif") center/cover no-repeat fixed;
  --opacity: 1;
  background-size: 100% 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
