<ion-content [fullscreen]="true">
  <ion-tabs>
    <div class="flex text-white bg-[#494a4e] font-bold h-10 fixed top-0 w-full">
      <i class="fas fa-arrow-left mt-2 ml-3 text-[#ca9631] text-xl" routerLink="/home"></i>
      <div class="ml-[32%] font-bold mt-2 text-2xl">Blogs</div>
    </div>

    <div slot="top" class="mt-9 text-white h-full overflow-y-scroll">
      <div [routerLink]="['/viewblog', blog._id]" *ngFor="let blog of blogs"
        class="flex mt-3 bg-white text-black w-[95%] h-[16%] ml-auto mr-auto rounded-md shadow-md">
        <div><img src="{{blog.image}}" alt="" class="h-full w-48 rounded-tl-md rounded-bl-md"></div>
        <div class="block py-4 ml-2 mt-[-4%]">
          <div>
            <p class="text-right text-[70%] text-gray-400 mr-3">{{formatDate(blog.date)}}</p>
            <h5 class="font-bold">{{ truncateText(blog.title, 22) }}</h5>
          </div>
          <p class="mr-2">{{ truncateText(blog.content, 54) }}</p>
        </div>
      </div>
    </div>



  <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
    <ion-tab-button tab="home" class="text-[#ca9631]" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      {{'Home'| translate}}
    </ion-tab-button>
    <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
      <div class="flex">
        <i class="fas fa-star mt-2 translate-x-2"></i><i class="fas fa-moon rotate-180 text-2xl"></i>
      </div>
      Horoscopes
    </ion-tab-button>
    <ion-tab-button tab="newspaper" class="text-white" routerLink="/blogs">
      <ion-icon name="newspaper"></ion-icon>
      Blogs
    </ion-tab-button>
    <ion-tab-button tab="chatbubbles" class="hover: text-[#ca9631]" routerLink="/archives">
      <i class="fa fa-folder text-2xl"></i>
      Archives
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
</ion-content>
