<ion-content [fullscreen]="true" class="fixed text-white">


  <ion-tabs>
    <div class="flex text-white mt-3 text-xl font-bold" slot="top">
      <i class="fas fa-arrow-left ml-3 text-[#ca9631]" routerLink="/home"></i>
      <div class="ml-[32%]">Horoscopes</div>
    </div>

    <div class="ml-auto mr-auto">
      <!-- image horoscope -->

      <img src={{choosedImage}} alt="" class="w-36 ml-auto mr-auto">
      <p class="mt-1 font-bold text-center text-2xl text-white">{{sunsign}}</p>
    </div>

    <div *ngIf="horoscope" class="w-full mt-3 shadow-inner shadow-blue-700 h-auto rounded-md ">
      <ion-item color="primary-shade" class="border-b">
        <p class="font-bold text-[84%]">{{guidePhrase}}</p>
        <ion-select [(ngModel)]="selectedSign" class="text-white left-12" (ionChange)="getHoroscopeBySunSign()">
          <ion-select-option *ngFor="let sign of signs" [value]="sign" class="text-white">{{ sign }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="">
        <p class=" ml-2 max-h-80 overflow-y-scroll">{{ horoscope }}</p>
      </div>
    </div>




    <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
      <ion-tab-button tab="home" class="hover: text-[#ca9631]" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        {{home}}
      </ion-tab-button>
      <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
        <ion-icon name="sunny"></ion-icon>
        Horoscopes
      </ion-tab-button>
      <ion-tab-button tab="newspaper" class="hover: text-[#ca9631]" routerLink="/news">
        <ion-icon name="newspaper"></ion-icon>
        {{news}}
      </ion-tab-button>
      <ion-tab-button tab="list" class="hover: text-[#ca9631]">
        <ion-icon name="list"></ion-icon>
        {{others}}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
