<ion-content [fullscreen]="true" class="fixed text-white">


  <ion-tabs>
    <div class="flex text-white mt-3 text-xl font-bold" slot="top">
      <i class="fas fa-arrow-left ml-3 text-[#ca9631]" routerLink="/home"></i>
      <div class="ml-[28%]">Horoscopes</div>
    </div>

    <div class="ml-auto mr-auto">
      <!-- image horoscope -->

      <img src={{choosedImage}} alt="" class="w-36 ml-auto mr-auto">
      <p class="mt-1 font-bold text-center text-2xl text-white">{{sunsign}}</p>
    </div>

    <div class="ml-auto mr-auto text-gray-400">
      <em class="text-[80%]">{{signInterval}}</em>
    </div>

    <div *ngIf="horoscope" class="w-full max-h-[53%] mt-3 shadow-inner pb-1 shadow-blue-700 h-auto rounded-md ">
      <div color="primary-shade" class="border-b h-16">
        <h4 class="font-bold mt-2 ml-1">{{guidePhrase}}</h4>
        <div class="flex">
          <input id="date-input" type="date" [(ngModel)]="selectedDate" (ngModelChange)="getAstrologicalSign()"
            class="border border-[#ca9631] rounded-lg focus:outline-none mb-4 bg-transparent h-6 w-96 ml-6 mt-3 text-center font-bold" />
          <ion-select [(ngModel)]="selectedSign" class="text-white left-16" (ionChange)="getHoroscopeBySunSign()">
            <ion-select-option *ngFor="let sign of signs" [value]="sign" class="text-white">{{ sign
              }}</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="overflow-y-scroll max-h-60">
        <div class="">
          <p class="ml-2">{{ horoscope }}</p>
        </div>
      </div>

    </div>




    <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
      <ion-tab-button tab="home" class="hover: text-[#ca9631]" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        {{home}}
      </ion-tab-button>
      <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
        <ion-icon name="sunny"></ion-icon>
        Horoscopes
      </ion-tab-button>
      <ion-tab-button tab="newspaper" class="hover: text-[#ca9631]" routerLink="/blogs">
        <ion-icon name="newspaper"></ion-icon>
        {{news}}
      </ion-tab-button>
      <ion-tab-button tab="chatbubbles" class="hover: text-[#ca9631]" routerLink="/archives">
        <ion-icon name="chatbubbles"></ion-icon>
        {{opinion}}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
