ion-content {
  --ion-background-color: linear-gradient(#080808, #000000);
  // --background: url("../../assets/wave-frequency.gif") center/cover no-repeat fixed;
  background-size: 100% 100%;
}



.day.selected {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;


  /* Remplacez cela par la couleur de texte souhaitée pour le jour sélectionné */
}

.month.selected {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}
