ion-content {
  --ion-background-color: linear-gradient(#1a2d7d, #09154a);
  // --background: url("../../assets/wave-frequency.gif") center/cover no-repeat fixed;
  background-size: 100% 100%;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
