

<ion-content [fullscreen]="true">
  <ion-tabs>
    <div class="flex text-white mt-3 text-xl font-bold" slot="top">
      <i class="fas fa-arrow-left ml-3 text-[#ca9631]" routerLink="/home"></i>
      <div class="ml-[32%]">{{news}}</div>
    </div>

  <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
    <ion-tab-button tab="home" class="hover: text-[#ca9631]" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      {{home}}
    </ion-tab-button>
    <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
      <ion-icon name="sunny"></ion-icon>
      Horoscopes
    </ion-tab-button>
    <ion-tab-button tab="newspaper" class="hover: text-[#ca9631]" routerLink="/news">
      <ion-icon name="newspaper"></ion-icon>
      {{news}}
    </ion-tab-button>
    <ion-tab-button tab="list" class="hover: text-[#ca9631]">
      <ion-icon name="list"></ion-icon>
      {{others}}
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
</ion-content>
