<ion-content [fullscreen]="true">
  <ion-tabs>
    <div class="flex text-white mt-3 text-xl font-bold border-b border-[ca9631] h-7" slot="top">
      <i class="fas fa-arrow-left ml-3 text-[#ca9631]" routerLink="/blogs"></i>
    </div>

    <div class="block text-black max-h-[87%] overflow-y-scroll">
      <h2 class="mt-4 text-center font-bold ml-2 mr-2">{{title}}</h2>
      <div class="mt-4 ml-auto mr-auto">
        <img src="{{image}}" alt="">
      </div>
      <div class="mt-3 mr-2 ml-2">
        {{content}}
      </div>
    </div>


    <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
      <ion-tab-button tab="home" class="hover: text-[#ca9631]" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        {{home}}
      </ion-tab-button>
      <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
        <ion-icon name="sunny"></ion-icon>
        Horoscopes
      </ion-tab-button>
      <ion-tab-button tab="newspaper" class="hover: text-[#ca9631]" routerLink="/blogs">
        <ion-icon name="newspaper"></ion-icon>
        {{news}}
      </ion-tab-button>
      <ion-tab-button tab="list" class="hover: text-[#ca9631]">
        <ion-icon name="list"></ion-icon>
        {{others}}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
