<ion-content [fullscreen]="true" class="fixed">
  <ion-tabs class="mt-0">

    <div class="flex" slot="top">
      <div class="w-24 ml-2">
        <img src="../../assets/logos/output-onlinepngtools.png" alt="" class="">
      </div>
      <i class="fas"
        [ngClass]="{'fa-pen': !isOpenMenu, 'fa-times': isOpenMenu, 'text-2xl md:hidden text-[#ca9631] mt-5 ml-auto mr-5': true}"
        (click)="goToSettings()"></i>

    </div>

    <div class="ml-auto max-h-44 mr-auto">
      <!-- image horoscope -->

      <img src={{choosedImage}} alt="" class="w-36 ml-auto mr-auto">
      <p class="mt-1 font-bold text-center text-2xl text-white">{{sign}}</p>
    </div>


    <div class="w-full mt-3 shadow-inner shadow-blue-700 rounded-md ">
      <div class="flex mt-3 ml-2 gap-24">
        <p class="text-xl font-bold">{{horoTitle}}</p>
        <i class="fa fa-headphones text-2xl text-white" [ngClass]="{'text-[#ca9631]': isSpeaking,'text-white': !isSpeaking}"
          (click)="speak()"></i>
      </div>

      <div class="max-h-80 overflow-y-scroll">
        <p class="ml-2 mr-2 py-3 text-white">{{horoscope}}</p>
      </div>
    </div>

    <ion-tab-bar slot="bottom" color="primary" class="border-t border-[#ca9631]">
      <ion-tab-button tab="home" class="hover: text-[#ca9631]" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        {{home}}
      </ion-tab-button>
      <ion-tab-button tab="sunny" class="hover: text-[#ca9631]" routerLink="/horoscopes">
        <ion-icon name="sunny"></ion-icon>
        Horoscopes
      </ion-tab-button>
      <ion-tab-button tab="newspaper" class="hover: text-[#ca9631]" routerLink="/blogs">
        <ion-icon name="newspaper"></ion-icon>
        {{news}}
      </ion-tab-button>
      <ion-tab-button tab="chatbubbles" class="hover: text-[#ca9631]" routerLink="/archives">
        <ion-icon name="chatbubbles"></ion-icon>
        {{opinion}}
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>


</ion-content>
